---
---

@import "{{ site.theme }}";

#page-wrapper {
    display: flex;
}

#nav a{
    text-decoration: none;
}

#static-header {
    position: fixed;
    width: 100%;
    padding: 0rem;
    visibility: hidden;
}

#static-header.visible {
    visibility: inherit;
}

#main-content {
    padding: 2rem;
    max-width: inherit;
    flex: 1 1 1;
}

@media not screen and (max-width: 54em) {
    #nav {
        padding: 1rem 2rem;
        min-width: 16rem;
        flex: 0 0 0;
    }
    #nav-hamburger {
        display: none;
    }
}

@media screen and (max-width: 54em) {
    #page-wrapper {
        display: inherit;
    }
    #nav {
        padding: 0rem 2rem;
    }
    #nav-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #nav-content.hide {
        display:none;
    }
}

// START PAGE
#img-before {
    float: right;
    margin-left: 2rem;
    width: 50%;
    max-width: 524px;
}
#img-after {
    width: 100%;
    max-width: 524px;
}

@media not screen and (max-width: 36em) {
    #img-after {
        display: none;
    }
}

@media screen and (max-width: 36em) {
    #img-before {
        display:none;
    }
}
