<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">

        {% seo %}
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        {% include head-custom.html %}

        <base href="{{site.baseurl}}" />
    </head>
    <body>
        <header id="static-header" class="page-header" role="banner">
            <h1 class="project-name">{{ site.title }}</h1>
        </header>

        <header id="page-header" class="page-header" role="banner">
            <h1 class="project-name">{{ site.title }}</h1>
            <h2 class="project-tagline">{{ site.tagline }}</h2>
            <h3 class="project-date">{{ site.date }}</h3>
            <h4 class="project-location">{{ site.loc }}</h4>
        </header>

        <script>
        function e(id) { return document.getElementById(id); }

        window.onscroll = function() {
            let visible = document.documentElement.scrollTop > e("page-header").offsetHeight - e("static-header").offsetHeight;
            visible ? e("static-header").classList.add("visible") : e("static-header").classList.remove("visible");
        }

        function toggle() {
            let element = e("nav-content");
            element.className = element.className === "" ? "hide" : "";
        }
        </script>
        <div id="page-wrapper">
            <div id="nav">
                <div id="nav-header">
                    <div id="nav-title">
                        {% capture nav_title %}### Content{% endcapture %}
                        {{ nav_title | markdownify }}
                    </div>
                    <a id="nav-hamburger" href="javascript:void(0);" onclick="toggle()">
                        ☰
                    </a>
                </div>
                <div id="nav-content" class="hide">
                    {% capture nav_include %}{% include nav.md %}{% endcapture %}
                    {{ nav_include | markdownify }}
                </div>
            </div>
            <main id="main-content" class="main-content" role="main">
                {{ content }}
            </main>
        </div>
    </body>
</html>
